<a href="https://colab.research.google.com/github/Komaljadhav893/python/blob/main/basis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=20
b=~a
print(b)

-21

In [ ]:
n=int(input())
for int i=0;i<n;i++:
  print(i)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-41-62f9b70fd7db>, line 2)

In [ ]:
a=20
b=-(~a)
print(b)

21

In [ ]:
a=20
if(a&1==1):
  print("odd")
else:
   print("even")

even

In [ ]:

a=input()
print(a)

2
2

In [ ]:
a=20
b=10
c=30
if(a > b and a>c ):
  print(" a is greater")
elif (b > a and b>c):
  print("b is greatee")
else:
  print("c is greater")

c is greater

In [ ]:
#1
x=5
print(x)

5

In [ ]:
x=int(input())
print(x)

5
5

In [ ]:
#2
a=int(input())
b=int(input())
c=a+b
print("adition=",c)
d=a-b
print("substraction=",d)
e=a*b
print("multi=",e)
f=a/b
print("division=",f)

10
2
adition= 12
substraction= 8
multi= 20
division= 5.0

In [ ]:
#3
x=int(input())
y=int(input())
if(x>y):
  print("x is greater")
elif(x<y):
  print("x is smaller")
else:
  print("x and y are equal")

30
20
x is greater

In [ ]:
#4
k=int(input())
if(k%2==0 and k%3==0):
  print("divisible by both 3 and 2")
else:
  print("not divisible")

30
divisible by both 3 and 2

In [ ]:
#5
name="komal"
print(len(name))
upper_case=name.upper()
print(upper_case)

5
KOMAL

In [ ]:
#6
z=int(input())
if(z>0):
  print("number is positive")
elif(z<0):
  print("number is negative")
else:
  print("number is 0")

8
number is positive

In [ ]:
#8
fruits=["mango","apple","banana"]
print(fruits)
fruits.append("pineapple")
print(fruits)

['mango', 'apple', 'banana']
['mango', 'apple', 'banana', 'pineapple']

In [ ]:
#9
touple1=(10,"hello",True)
print(touple1)
touple1[0]=20
print(touple1)

(10, 'hello', True)

TypeError: 'tuple' object does not support item assignment

In [ ]:
dict1={"mango" :" orange",
       "apple":"red",
       "banana": "yellow"}
print(dict1)
dict1["papaya"]="green"
print(dict1)

{'mango': ' orange', 'apple': 'red', 'banana': 'yellow'}
{'mango': ' orange', 'apple': 'red', 'banana': 'yellow', 'papaya': 'green'}